.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 20px; /* Adjust as necessary */
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 1000px; /* This ensures the width is 70% */
}

.search-btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 25px;
  margin-left: 0px;
  cursor: pointer;
  border-radius: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 15%;
  width: 70%; /* Match the width of the search bar */
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: rgb(137, 231, 238);
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #1aed36;
}
